body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1440px;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.card {
  /* align-items: center; */
  overflow: hidden;
  perspective: 1px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 3%;
  padding-right: 3%;
}

#sedans {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 0px 0px 8px;
  /* padding-bottom: 30px;
  padding-top: 30px; */
}

#suvs {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  background-color: hsl(184, 100%, 22%);
  /* padding-bottom: 30px;
  padding-top: 30px; */
}

#luxury {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 8px 8px 0px;
}

.column {
  display: flex;
  margin: 50px;
  height: 100%;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  padding-left: 210px;
  padding-right: 210px;
}

.card h1 {
  color: hsl(0, 0%, 95%);
  position: absolute;
  left: 15%;
  top: 20%;
}

.card img {
  padding-left: 10px;
  padding-bottom: 1%;
  position: absolute;
  top: 10%;
}

.card > p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 70px;
  margin-bottom: 60px;
  line-height: 25px;
}

button {
  border-color: 1px solid hsl(0, 0%, 95%);
  background: transparent;
  border-radius: 50px;
  text-decoration: none;
  padding: 5%;
  position: absolute;
  bottom: 30px;
  left: 100px;
  transform: translate(-50%, -50%);
}

button span {
  padding: 10px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 12px;
}
